In [2]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df = pd.read_csv("weather_data.csv")
df

        Day  Temperature  Windspeed  Event
0  01/01/26           32          6   Rain
1  01/02/26           35          7  Sunny
2  01/03/26           28          2   Snow
3  01/04/26           24          7   Snow
4  01/05/26           32          4   Rain
5  01/06/26           32          2  Sunny

In [3]:
df.shape # rows, columns = df.shape

(6, 4)

In [4]:
df.head() # df.head(3)

        Day  Temperature  Windspeed  Event
0  01/01/26           32          6   Rain
1  01/02/26           35          7  Sunny
2  01/03/26           28          2   Snow
3  01/04/26           24          7   Snow
4  01/05/26           32          4   Rain

In [6]:
df.tail() # df.tail(2)

        Day  Temperature  Windspeed  Event
1  01/02/26           35          7  Sunny
2  01/03/26           28          2   Snow
3  01/04/26           24          7   Snow
4  01/05/26           32          4   Rain
5  01/06/26           32          2  Sunny

In [7]:
df[1:3]

        Day  Temperature  Windspeed  Event
1  01/02/26           35          7  Sunny
2  01/03/26           28          2   Snow

In [8]:
df.columns

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [12]:
type(df['Day'])

pandas.core.series.Series

In [14]:
df['Day'] # or df.day

0    01/01/26
1    01/02/26
2    01/03/26
3    01/04/26
4    01/05/26
5    01/06/26
Name: Day, dtype: object

In [16]:
df[['Day','Temperature']]

        Day  Temperature
0  01/01/26           32
1  01/02/26           35
2  01/03/26           28
3  01/04/26           24
4  01/05/26           32
5  01/06/26           32

In [18]:
df['Temperature'].max()

np.int64(35)

In [19]:
df[df['Temperature']>32]

        Day  Temperature  Windspeed  Event
1  01/02/26           35          7  Sunny

In [20]:
df['Day'][df['Temperature'] == df['Temperature'].max()] # Kinda doing SQL in pandas

1    01/02/26
Name: Day, dtype: object

In [21]:
df[df['Temperature'] == df['Temperature'].max()]

        Day  Temperature  Windspeed  Event
1  01/02/26           35          7  Sunny

In [22]:
df['Temperature'].std()

np.float64(3.8858718455450894)

In [23]:
df.describe()

       Temperature  Windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [25]:
df['Event'].max()

'Sunny'

In [26]:
df.set_index('Day')

          Temperature  Windspeed  Event
Day
01/01/26           32          6   Rain
01/02/26           35          7  Sunny
01/03/26           28          2   Snow
01/04/26           24          7   Snow
01/05/26           32          4   Rain
01/06/26           32          2  Sunny

In [30]:
df

          Temperature  Windspeed  Event
Day
01/01/26           32          6   Rain
01/02/26           35          7  Sunny
01/03/26           28          2   Snow
01/04/26           24          7   Snow
01/05/26           32          4   Rain
01/06/26           32          2  Sunny

In [32]:
df.index

Index(['01/01/26', '01/02/26', '01/03/26', '01/04/26', '01/05/26', '01/06/26'], dtype='object', name='Day')