In [1]:
import pandas as pd
print(pd.__version__)

2.3.0

In [11]:
weather_data = {
    'Day': ['1/1/2026', '1/2/2026', '1/3/2026', '1/4/2026'],
    'Temperature':[32,35,33,28],
    'Event':['Rain', 'Sunny', 'Snow', 'Rain'],
    'Windspeed':[4,5,8,2]
}
df = pd.DataFrame(weather_data)
df

        Day  Temperature  Event  Windspeed
0  1/1/2026           32   Rain          4
1  1/2/2026           35  Sunny          5
2  1/3/2026           33   Snow          8
3  1/4/2026           28   Rain          2

In [ ]:
rows, columns = df.shape
rows

        Day  Temperature  Event  Windspeed
0  1/1/2026           32   Rain          4
1  1/2/2026           35  Sunny          5
2  1/3/2026           33   Snow          8
3  1/4/2026           28   Rain          2

In [19]:
df.head()

        Day  Temperature  Event  Windspeed
0  1/1/2026           32   Rain          4
1  1/2/2026           35  Sunny          5
2  1/3/2026           33   Snow          8
3  1/4/2026           28   Rain          2

In [24]:
df.tail()

        Day  Temperature  Event  Windspeed
0  1/1/2026           32   Rain          4
1  1/2/2026           35  Sunny          5
2  1/3/2026           33   Snow          8
3  1/4/2026           28   Rain          2

In [29]:
df[2:5]

        Day  Temperature Event  Windspeed
2  1/3/2026           33  Snow          8
3  1/4/2026           28  Rain          2

In [31]:
df.columns

Index(['Day', 'Temperature', 'Event', 'Windspeed'], dtype='object')

In [37]:
#df.Day
#df.Event
#df['Event']
df['Windspeed']

0    4
1    5
2    8
3    2
Name: Windspeed, dtype: int64

In [43]:
#type(df['Event'])
df[['Day', 'Event', 'Windspeed']]

        Day  Event  Windspeed
0  1/1/2026   Rain          4
1  1/2/2026  Sunny          5
2  1/3/2026   Snow          8
3  1/4/2026   Rain          2

In [46]:
df

        Day  Temperature  Event  Windspeed
0  1/1/2026           32   Rain          4
1  1/2/2026           35  Sunny          5
2  1/3/2026           33   Snow          8
3  1/4/2026           28   Rain          2

In [51]:
# df['Temperature'].max()
# df['Temperature'].std()
# df['Temperature'].mean()
# df['Temperature'].median()
df.describe()

       Temperature  Windspeed
count      4.00000       4.00
mean      32.00000       4.75
std        2.94392       2.50
min       28.00000       2.00
25%       31.00000       3.50
50%       32.50000       4.50
75%       33.50000       5.75
max       35.00000       8.00

In [58]:
# df[df.Temperature >= 32]
# df[df.Temperature == df['Temperature'].max()]
df['Day'][df.Temperature == df['Temperature'].max()]

1    1/2/2026
Name: Day, dtype: object

In [59]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df.set_index('Day')

          Temperature  Event  Windspeed
Day
1/1/2026           32   Rain          4
1/2/2026           35  Sunny          5
1/3/2026           33   Snow          8
1/4/2026           28   Rain          2

In [ ]:
df.set_index('Day', inplace=True)
# df.loc['1/3/2026']

KeyError: '1/3/2026'