In [2]:
import pandas as pd
df = pd.read_csv("aaple.csv",parse_dates=["Date"], index_col="Date")
df.head(2)

/tmp/ipykernel_8005/3291374287.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("aaple.csv",parse_dates=["Date"], index_col="Date")

              Open    High     Low   Close    Volume
Date
2017-06-01  153.17  153.33  152.22  153.18  16404088
2017-05-31  153.97  154.17  152.38  152.76  24451164

In [7]:
df['Close'].resample('M').mean().head()

/tmp/ipykernel_8005/2239267475.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df['Close'].resample('M').mean().head()

Date
2016-07-31     99.473333
2016-08-31    107.665217
2016-09-30    110.857143
2016-10-31    115.707143
2016-11-30    110.154286
Freq: ME, Name: Close, dtype: float64